a{
  text-decoration: none;
}
p{
  font-family: 'Envato'
}

.header{
  height: 50px;
  background-color: #FFF;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company_logo{
  width: 150px;
  display: inline-block;
}

.nav_header{
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.nav_item{
  font-size: 20px;
  font-weight: bold;
  color: #A5A5A5;
  margin-right: 30px;
}

.eyecatch_container{
  position: relative;
  margin-top: 10px;
  display:flex;
}

.eyecatch_img{
  width: 60%;
 display: block;
 margin: 0 0 0 auto;
}

.eyecatch_textlogo{
  font-family: 'Indie Flower', cursive;
  position: absolute;
  top: 50px;
  left: 300px;
  font-size: 100px;
  color: #b21667;
}
.span1 , .strong {
  color: #0BA0B3;
}


.eyecatch_text1{
  color: #b21667;
  position: absolute;
  top: 350px;
  left: 300px;
  font-size: 35px;
}

.eyecatch_text2{
  color: #878787;
  position: absolute;
  top: 410px;
  left: 300px;
  font-size: 20px;
  font-weight: bold;
  font-family:'Envato'
}

.news_container{
  position: relative;
  margin-top: 50px;
  display:flex;
}

.title_logo{
  font-family: 'Indie Flower', cursive;
  position: absolute;
  top: 50px;
  left: 350px;
  font-size: 30px;
  color: #878787;
}

.title_text{
  font-weight: bolder;
  position: absolute;
  top: 70px;
  left: 350px;
  font-size: 30px;
  color: #878787;
}

.news_wrapper{
  position: absolute;
  top: 150px;
  left: 310px;
}
.border_bottom{
  border-bottom: #a5a5a5 solid;
}
.news_outer{
  display: flex;
  justify-content:flex-start;
  border-top: #a5a5a5 solid;
  border-width: 2px;
  font-weight: bold;
  color: #a5a5a5;
}
.news_inner_date{
  margin:20px 30px 20px 0px;
}
.news_inner_icon{
  color: #FFF;
  background-color: #b21667;
  text-align: center;
  border-radius: 15px;
  padding: 0px 15px;
  height: 25px;
  line-height: 25px;
  margin: 20px 30px 20px 0px;
}

.news_inner_txt{
  margin: 20px 150px 20px 0px;
}


.about_container{
  position: relative;
  margin-top: 10px;
  display: flex;
}
.about_text1{

}
.about_text2{

}

.about_img{

}
.service_container{
  position: relative;
  margin-top: 50px;
  display:flex;
}
.service_grid_wrapper{

}
.service_grid1{

}

.service_grid2{

}
.service_grid3 {

}

.service_grid_img{

}
.service_grid_ttl{

}
.service_grid_text{

}

.blog_container{
  position: relative;
  margin-top: 50px;
  display:flex;
}
.flex_card{

}
.flex_element1{

}
.card_tag{

}
.card_img{

}
.card_text{

}
.card_date{

}
.flex_element2{

}
.flex_element3{

}
.button_bloglist{

}
.company_container{
  position: relative;
  margin-top: 50px;
  display:flex;
}

.table_wrapper{

}
.item{

}
.item2{

}

.contact_container{
  position: relative;
  margin-top: 50px;
  display: flex;
}
.contact_element1{

}
.contact_jpg{

}
.headline{
justify-content: center;
align-items: center;
}

.contact_element2{

}

.mail_container{
  position: relative;
  margin-top: 50px;
  display: flex;
}

.mail_text{

}

.mail_item{

}
.mail.btn{

}

.footer{

}